<% content_for(:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %> 
<div class="col-md-7 col-md-offset-3 main">
  	<% provide(:title, "Edit Company") %>
  	<center><h1>Update <%= @company.name%></h1></center>
	<%= form_for(@company) do |f|%>
		<%= render 'shared/error_messages' %>
		<div class="col-md-12 ">
			<% if !@company["avatar"].blank? %>
				<%= image_tag @company.avatar_url(:medium).to_s, :class=>"companyPhoto" %>
			<% end %>
			<div class="companyPhotoPreview">
				<i class="fa fa-upload companyPhotoUpload"></i>
				<p id="uploadClick">Click to Upload</p>
			</div>

			<%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'uploadCompanyAvatar'%>
			<p class="deleteCompanyPhoto">Delete</p>

			<%= render 'layouts/companyfields', f: f%>
			<%= f.text_area :description, placeholder: "Description", :class => "form-control" %>
			<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
</div>