<div class="col-md-6 col-md-push-3 form-margin">
  <%= provide(:title, "Search")%>
  <center><h1>Search For Food or Grocer</h1></center>
  <%= form_tag root_path, :class => "input-group", :method => :get do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
    </span>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1 main">
  <% if @org_products.empty? %>
  <% else %> 
    <%= will_paginate @query, renderer: BootstrapPagination::Rails %>
      <ul class="catalogue">
        <% @org_products.each do |product| %>
        <li>
          <div class="row">
            <div class="col-md-2 prodImage">
              <% if !product["image"].blank? %>
                <%= image_tag product.image_url(:medium).to_s, :class => "displayImage"%>
              <% else %>
                <div class="displayImage">
                  <i class="fa fa-question-circle photoUpload"></i>
                  <p>Picture Unavailable</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-8" id="prodInfo">
              
            </div>
          </div>
        </li>
        <% end %>
      </ul>
  <% end %>
</div>