<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<nav>
			<ul>
				<!-- <li><%= link_to "About",   '#' %></li> -->
	      		<!-- <li><%= link_to "Fee Guide", '#' %></li> -->
	      		<li><%= link_to "Contact Us", "#" %></li>
	      		<li><%= link_to "Terms of Use",   "#" %></li>
	      		<li><%= link_to "Privacy Policy",   "#" %></li>
	      		<li><%= link_to "How it Works?",   "#" %></li>
			</ul>
		</nav>
	</div>	
</footer>