<% if signed_in? %>
<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
	    <li class="sidebar_overview"><%= link_to "Overview", edit_org_person_path(current_org_person) %></li>
	    <% if current_org_person != nil && current_org_person.org_company_id == nil %>
	      <li class="sidebar_personal_purchases"><%= link_to "Personal Purchase History", trx_orders_list_personal_purchases_path %></li>
	    <% end %>
	    <!-- Only the COO, the operations chief, will be able to link his company to a bank account. -->
	    <% if current_org_person.typ_position_id == 1%>
	      <li class="sidebar_stripe_settings"><%= link_to "Payment Settings", org_people_stripe_settings_path %></li>
	    <% end %>  
  	</ul>

  	<ul class="nav nav-sidebar">
	    <!-- company_id is from the sessions_helper.id -->
	    <% if current_org_person != nil && current_org_person.org_company_id != nil %>
	      <li class="sidebar_company_info"><%= link_to "Company Information", org_company_path(current_org_person.org_company_id) %></li>
	      <li class="sidebar_company_people"><%= link_to "People", org_companies_people_path %></li>
	      <li class="sidebar_purchases"><%= link_to "Company Purchase History", trx_orders_list_purchases_path %></li>
	  
	      <% if company_typ.typ_company_id == 1 %>
	        
	      <% elsif company_typ.typ_company_id == 2 %>
	        
	      <% elsif company_typ.typ_company_id == 3 %>
	        <li class="sidebar_post_items_for_sale"><%= link_to "Post Items For Sale", new_org_product_path %></li>
	        <li class="sidebar_posted_items"><%= link_to "Posted Items", org_products_path %></li>
	        <li><%= link_to "Local Deliverers", org_companies_list_deliverers_path %></li>
	        <li class="sidebar_my_deliverers"><%= link_to "My Deliverers", org_companies_preferred_deliverers_path %></li> 
	        <li class="sidebar_orders"><%= link_to "Order Requests", org_products_orders_path %></li>
	        <li class="sidebar_completed_orders"><%= link_to "Completed Orders", org_products_completed_orders_path %></li>
	      <% end %>
	    <% else %>
	    <% end %>
	</ul>

</div>
<% end %>